BASE_BACKEND_URL='localhost'
NEXT_PUBLIC_BACKEND_API_URL='http://localhost:8080/api'

# Google OAuth - Lấy từ Google Cloud Console
# https://console.cloud.google.com/apis/credentials
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_GOOGLE_CLIENT_ID=569446960516-f28av08t6ghdaf8ouudlr12k2f9v4e1b.apps.googleusercontent.com